@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root{
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);
}

*{
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

*::selection{
  background: var(--dark-grayish-violet);
  color: var(--very-light-gray);
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 2rem;
  left: 0;
  padding: 0 2rem;
  /* background: var(--very-light-gray); */
  z-index: 1000;
}

header .logo{
  font-size: 3rem;
  padding: 1rem 4rem;
}

header .navbar ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

header .navbar ul li a{
  font-size: 2rem;
  color: var(--dark-grayish-violet);
  font-weight: 700;
  text-transform: uppercase;
  padding: 2rem;
  margin-left: 2rem;
  text-decoration: none;
}

header .navbar ul li a:hover {
  color: var(--dark-violet);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

header .navbar .btn{
  padding: 10px 30px;
  color: var(--dark-grayish-violet);
  border: 3px solid var(--dark-grayish-violet);
  font-weight: 600;
}

header .navbar .btn:hover{
  color: var(--dark-violet);
}

header #menu{
  font-size: 2.5rem;
  color: var(--dark-grayish-violet);
  cursor: pointer;
  display: none;
}












/* media queries */

@media (max-width:991px){

  html{
    font-size: 55%;
  }

  header #menu{
    display: block;
  }

  header .navbar{
    position: absolute;
    top: 5.3rem; right: -120%;
    height: 100vh;
    background: var(--very-dark-violet);
    z-index: 1000;
    width: 35rem;
  }

  header .navbar ul{
    flex-flow: column;
    justify-content: center;
    height: 100%;
  }

  header .navbar ul li a{
    display: block;
    font-size: 2.5rem;
    margin: 1rem 0;
  }

  .fa-times{
    transform: rotate(180deg);
  }

  header .navbar.nav-toggle{
    right: 0;
  }

}