@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  background: white;
  font-family: "Karla", sans-serif;
  font-size: 16px;
}

.header {
  background-color: white;
}
/* Styling the Navigation bar */
nav {
  background-color: white;
  width: 100%;
  height: 70px;
}
nav .navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0px 100px;
}

nav .nav-bar.nav-links .links {
  display: flex;
}

.nav-links .links {
  display: flex;
  position: relative;
  height: 70px;
  align-items: center;
  padding: 0 14px;
}

.nav-logo {
  color: hsl(273, 4%, 51%);
}

.nav-links-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  color: hsl(273, 4%, 51%);
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  padding: 1.5rem;
}

.nav-links-list:hover {
  color: hsl(256, 26%, 20%);
  transition: all 0.2s ease-out;
  cursor: pointer;
}
.links {
  list-style: none;
}

.nav-links-list-btn {
  padding: 10px 30px;
  color: hsl(256, 26%, 20%);
  border: 3px solid hsl(273, 4%, 51%);
  font-weight: 600;
}

.nav-links-list-btn:hover {
  color: hsl(273, 4%, 51%);
}

/* Styling the Main section */
.main-1 {
  width: 100%;
  height: 500px;
  background: hsl(256, 26%, 20%);
  display: flex;
}

.para-text {
  color: white;
  display: flex;
  flex-direction: column;
  /* width: 50%; */
  margin: auto;
  text-align: left;
  justify-content: space-evenly;
  margin-left: 200px;
}

.para-text h1 {
  font-family: "DM Serif Display", sans-serif;
  font-weight: 500;
  text-align: left;
  font-size: 50px;
  margin-bottom: 10px;
}

.para-text p {
  margin-bottom: 10px;
}

.para-text a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  color: white;
  border: 3px solid white;
  font-weight: 600;
  text-align: center;
  width: 150px;
  margin-top: 10px;
}

.para-text a:hover {
  color: black;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

#main-image {
  width: 500px;
  height: 600px;
  margin: 60px 260px 0 0;
}

.main-2 {
  display: flex;
  flex-direction: column;
  /* background-color: green; */
  margin: 300px 260px 0 200px;
}

.main-2 > h2 {
  font-family: "DM Serif Display", sans-serif;
  font-weight: 500;
  text-align: left;
  font-size: 50px;
  margin-bottom: 10px;
  max-width: 1150px;
}

.about {
  display: flex;
  justify-content: space-between;
}

.about-1 .about-2 .about-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-image {
  width: 50px;
  margin-bottom: 10px;
}

.about h3 {
  font-family: "DM Serif Display", sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
}

.about p {
  color: hsl(273, 4%, 51%);
  margin-bottom: 10px;
  margin-right: 25px;
}

.main-3 {
  background: hsl(256, 26%, 20%);
  height: 200px;
  width: 1300px;
  margin: 100px 260px 100px 200px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-3 h2 {
  font-family: "DM Serif Display", sans-serif;
  font-weight: 500;
  margin-left: 50px;
  width: 400px;
  font-size: 40px;
}

.main-3 a {
  text-decoration: none;
  padding: 10px 30px;
  color: white;
  border: 3px solid white;
  font-weight: 600;
  margin-right: 100px;
  text-transform: uppercase;
  font-size: 20px;
}

.main-3 a:hover {
  color: black;
  transition: all 0.2s ease-out;
  cursor: pointer;
}
