@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
}

:root{
  --Dark-Violet: hsl(256, 26%, 20%);
  --Grayish-Blue: hsl(216, 30%, 68%);
  --Very-Dark-Violet: hsl(270, 9%, 17%);
  --Dark-Grayish-Violet: hsl(273, 4%, 51%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

html{
  font-size:16px;
  /* overflow:hidden; */
}

body {
  background: var(--Very-Light-Gray);
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

section{
  padding-top: 7.5rem;
  padding-bottom: 2rem;
  padding: 0 9%;
}

header {
  background: var(--Very-Light-Gray);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.3rem 9%;
  z-index: 1000;
}

header .navlinks a{
  color: var(--Dark-Grayish-Violet);
  font-size: 1.3rem;
  text-transform: uppercase;
  margin: 1rem;
}

header .navlinks .button,
.buttn{
    display: inline-block;
    cursor: pointer;
    border: 2px solid var(--Very-Dark-Violet);
    padding: 0.3rem 1rem;
    color: var(--Very-Dark-Violet);
}

.buttn {
  color: white;
  border:2px solid white;
  margin-top: 8px;
}

.home{
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Dark-Violet);
  /* background-image: url(../images/bg-pattern-intro-right-desktop.svg) no-repeat;  */
  
  background-position: right;
}

.home .image img{
  width: 40vw;
  margin-top: 3rem;
  padding: 2rem;
}

.home .content h2{
    font-family: 'DM Serif Display', sans-serif;
    font-weight: 400;
    font-size: 4rem;
    color: var(--Very-Light-Gray);
    -webkit-background-clip: text;
    background-clip: text;
    text-align: left;  
}

.home .content p{
  font-size: 1.2rem;
  color: var(--Very-Light-Gray);
}

.home .content .button{
    display: inline-block;
    cursor: pointer;
    border: 2px solid var(--Very-Light-Gray);
    padding: 0.3rem 1rem;
    color: var(--Very-Light-Gray);
    margin: 2rem 0;
}

.about{
  background: #fff;
}

.about h2{
  font-family: 'DM Serif Display', sans-serif;
  font-weight: 400;
  font-size: 4rem;
  color: var(--Very-Dark-Violet);
  -webkit-background-clip: text;
  background-clip: text;
  text-align: left;
  margin-top: 1rem;
}

.about .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.about .box-container .box{
  flex: 1130rem;
  margin: 1rem;
  padding: 2rem;
}

.about .box-container .box h3{
  font-family: 'DM Serif Display', sans-serif;
  font-weight: 300;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.about .box-container .box p{
  padding: 0.5rem 0;
  color: var(--Dark-Grayish-Violet);
}

.footer{
  padding-top: 1rem;
}

.footer .box-container{
  display: flex;
  flex-wrap: nowrap;
}

.footer .box-container .box{
  flex: 1125rem;
  margin: 2rem;
}

.footer .box-container .box h3{
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--Dark-Grayish-Violet);
  margin: 1rem 0;
}

.footer .box-container .box a{
  display: block;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--Dark-Violet);
}

.footer .box-container .box:hover{
  cursor: pointer;
}

#plans {
  background: hsla(277, 26%, 31%, 0.87);
  position: absolute;

  top: 130px;
  left: 30px;
  width: 1300px;
  height: 498px;
  border-radius: 20px;
  display: none;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.close-btn {
  position: absolute;
  color: white;
  cursor: pointer;
  background-color: red;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  right: 20px;
  top:110px;
  display: none;
}

.close-btn:hover {
  background-color: var(--Dark-Grayish-Violet);
}

.card-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 260px;
  padding: 20px 1px;
  margin: 10px 0;
  margin-top: 70px;
  text-align: center;
  position: relative;
  cursor: pointer;
  box-shadow: 0 10px 15px -3px rgba(33,150,243,.4),0 4px 6px -4px rgba(33,150,243,.4);
  border-radius: 10px;
  background-color: #cc6bc7;
  background: linear-gradient(45deg, #264364 0%, #6193df 100%);
}

.card-2:nth-child(2) {
  margin-top: 30px;
}

.content {
  padding: 20px;
}

.content .price {
  color: white;
  font-weight: 800;
  font-size: 50px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
}

.content .description {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 10px;
  font-size: 14px;
}

.content .title {
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.64);
  margin-top: 10px;
  font-size: 25px;
  letter-spacing: 1px;
}

.subscribe {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: none;
  outline: none;
  color: rgb(255 255 255);
  text-transform: uppercase;
  font-weight: 700;
  font-size: .75rem;
  padding: 0.75rem 1.5rem;
  background-color: rgb(33 150 243);
  border-radius: 0.5rem;
  width: 90%;
  text-shadow: 0px 4px 18px #2c3442;
  cursor: pointer;
}



.head h4 {
  display: inline-flex;
  position: absolute;
  top: 40px;
  left: 70px;
}

.head p {
  display: inline-flex;
  position: absolute;
  top: 60px;
  left: 90px;
}

.head-2 {
  position: relative;
  background-color: rgb(51, 8, 29);
  height: 150px;
  width: 100%;
  padding: 20px;
  clip-path: ellipse(122px 105px at 87.62% 28.66%);
  z-index: 2;
}


.buy-btn {
  border: 1px solid green;

  font-weight: 500;
  margin: 20px;
  padding: 10px;
  width: 100px;
  height: 40px;
  border-radius: 20px;
}



/* media queries */

@media (max-width: 1200px) {
  html{
    font-size: 55%;
  }
}

@media (max-width:991px) {
  section{
    padding: 0 3%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
  }
}

@media (max-width:768px){

  header .navlinks{
    position: absolute;
    top:100%; left: 0;
    width:100%;
    background:#fff;
    padding:1rem 2rem;
    border-top: .1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: .2s linear;
  }

  header .navlinks a{
      display: block;
      margin:2rem 0;
      font-size: 2rem;
  }

  .home{
      flex-flow: column-reverse;
  }

  .home .image img{
      width:100%;
  }

  .home .content h3{
      font-size: 3.6rem;
  }

  .home .content p{
      font-size: 1.5rem;
  }

  .about{
      background-position: right;
  }

}

@media (max-width:450px){
  
  html{
      font-size: 50%;
  }

}
